# Server Configuration
PORT=3000

# Ethereum Configuration
RECEIVER_ADDRESS=0xf36aa3cd6fdd245d03982caeb7c4a31b2b4be1d0

# For contract deployment (optional)
PRIVATE_KEY=your_private_key_here
INFURA_API_KEY=your_infura_api_key_here
